@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300i,400,700i|Source+Sans+Pro:400,400i,700,700i');
body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  color: $text-color;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  line-height: 1.5em;
  font-weight: 400;
  color: $heading-color;
  &>a {
    color: $heading-color;
  }
  &+p,
  &+div {
    margin-top: 1rem;
  }
}

h3,
h4 {
  line-height: 1.8em;
}

blockquote {
  padding-left: $default-grid-unit;
  font-weight: 700;
  border-left: 5px solid $text-color;
  margin-bottom: $default-grid-unit;
}

a {
  color: $link-color;
  text-decoration: none;
}
