// Default
$default-grid-unit: 20px;
$mobile-breakpoint: 780px;
$default-layout-col-grid: auto minmax(480px, 1120px) auto;
$default-layout-row-grid: auto 1fr;
// Typography
$text-color: #5d5d5d;
$heading-color: #2e2e2e;
$link-color: #4A86E8;
// BlogCard
$card-bg-color: #ffffff;
