<template>
  <div :class="folded ? 'ribbon folded' : 'ribbon'">
    {{ date }}
  </div>
</template>

<script>
import Vue from 'vue';
import Component from 'nuxt-class-component';

@Component({
  props: {
    dateString: String,
    folded: Boolean,
  }
})
export default class BlogCardDateRibbon extends Vue {
  get date() {
    const [date] = this.dateString.split('T');
    const [year, month, day] = date.split('-');
    return `${day}/${month}`;
  }
}
</script>

<style lang="scss" scoped>
.ribbon {
  position: absolute;
  top: 1rem;
  z-index: 10;
  background: #5d5d5d;
  padding: 1rem;
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  &.folded {
    padding: 1rem 1rem 1rem 1.5rem;
    margin-left: -12px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-top: 12px solid #2e2e2e;
      bottom: -12px;
      left: 0;
    }
  }
}
</style>
