<template>
  <div :class="featured ? 'card featured' : 'card'">
    <blog-card-date-ribbon folded :date-string="post.created_at" />
    <nuxt-link :to="post.full_slug">
      <div class="thumbnail" :style="`background-image: url(${post.content.display_image})`">
        <h2 v-if="featured">{{ post.content.title }}</h2>
      </div>
    </nuxt-link>
    <div class="content">
      <h2 v-if="!featured">
        <nuxt-link :to="post.full_slug">
          {{ post.content.title }}
        </nuxt-link>
      </h2>
      <div class="content-body" v-html="content"></div>
      <nuxt-link class="read-more" :to="post.full_slug">
        read more
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Component from 'nuxt-class-component';
import marked from 'marked';
import BlogCardDateRibbon from '@/components/BlogCardDateRibbon';
import { formatFeaturedContent } from '@/assets/scripts/helpers';

@Component({
  components: { BlogCardDateRibbon },
  props: {
    post: Object,
    featured: Boolean,
  }
})
export default class BlogCard extends Vue {
  content = '';

  constructor() {
    super();
    const content = this.featured ?
      marked(this.post.content.content) :
      marked(this.post.content.intro);

    this.content = this.featured ? formatFeaturedContent(content) : content;
  }
}
</script>

<style lang="scss" scoped>
.card {
  position: relative;
  background: $card-bg-color;
  margin: 0 $default-grid-unit $default-grid-unit * 2;

  &.featured {
    margin: 0 0 $default-grid-unit;

    .thumbnail {
      height: 315px;
    }
  }

  .thumbnail {
    width: 100%;
    height: 210px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2 {
      background: rgba(46, 46, 46, 0.8);
      padding: 0.5rem 2rem 0.5rem 1.5rem;
      font-size: 1.6rem;
      position: absolute;
      bottom: $default-grid-unit;
      line-height: 1.5em;
      display: inline-block;
      color: white;
    }
  }

  .content {
    padding: $default-grid-unit;

    .read-more {
      display: block;
      text-align: right;
      margin-top: $default-grid-unit;
    }
  }
}
// Desktop
@media (min-width: $mobile-breakpoint) {
  .card {
    .thumbnail {
      h2 {
        padding-right: 10%;
        font-size: 2.5rem;
        line-height: 4rem;
        left: 1rem;
      }
    }
    &.featured {
      .thumbnail {
        height: 450px;
      }
    }
  }
}
</style>
