<template>
  <header :class="`blog-header ${inset ? 'inset' : ''}`">
    <nuxt-link to="/">
      <h1 class="logo">Stephanie Lopes</h1>
    </nuxt-link>
  </header>
</template>

<script>
import Vue from 'vue';
import Component from 'nuxt-class-component';

@Component({
  props: {
    inset: Boolean,
  }
})
export default class BlogHeader extends Vue {}
</script>

<style lang="scss">
.blog-header {
  text-align: center;
  padding: $default-grid-unit/2 $default-grid-unit $default-grid-unit
    $default-grid-unit;

  &.inset {
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(23, 23, 23, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#00000000',GradientType=0 );

    .logo {
      color: white;
    }
  }
}

.logo {
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 6rem;
}

@media (min-width: $mobile-breakpoint) {
  .logo {
    font-size: 3.5rem;
  }
}
</style>
