<template>
  <footer class="footer">
    <!-- <a href="http://www.paulohsa.nl">made by PauloHSADotNL</a> -->
    <a>made by PauloHSADotNL</a>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  background: #2e2e2e;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    // font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: #3c3c3c;
    transition: color 0.3s ease-out;
    &:hover {
      color: #444444;
    }
  }
}
</style>
