<template>
  <section class="post-page" v-editable="post">
    <blog-header inset />
    <div class="display-image" :style="`background-image: url(${post.display_image})`">
        <h2>{{ post.title }}</h2>
    </div>
    <article class="blogpost" v-html="post.content"></article>
  </section>
</template>

<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import marked from 'marked';
import BlogHeader from '@/components/BlogHeader';

@Component({
  components: { BlogHeader }
})
export default class Post extends Vue {
  async asyncData({ app, params, isDev }) {
    // Draft mode for dev, published mode for production
    const version = isDev ? 'draft' : 'published';
    // Post data
    const { data } = await app.$storyapi.get(`cdn/stories/blog/${params.postId}`, { version });

    const state = {
      post: {
        ...data.story.content,
        content: marked(data.story.content.content),
      },
    };

    return state;
  }
}
</script>

<style lang="scss">
.blog-header {
  z-index: 10;
}

.display-image {
  width: 100%;
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2 {
    background: rgba(46, 46, 46, 0.8);
    padding: 0.5rem 2rem 0.5rem 1.5rem;
    position: absolute;
    bottom: $default-grid-unit;
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5em;
    left: 1rem;
  }
}

.blogpost {
  padding: 2rem 1rem 3rem;
}

// Desktop
@media (min-width: $mobile-breakpoint) {
  .post-page {
    display: grid;
    grid-template-columns: $default-layout-col-grid;
    grid-template-rows: $default-layout-row-grid;
    min-height: 100vh;
    grid-template-areas:
      "freeleft header freeright"
      "freeleft post freeright";
  }
  .blog-header {
    grid-area: header / freeleft / header / freeright;
  }
  .display-image {
    grid-area: header / freeleft / header / freeright;
    display: grid;
    grid-template-columns: $default-layout-col-grid;
    grid-template-areas: ". content .";
    height: 550px;

    h2 {
      grid-area: content;
      font-size: 2.75rem;
    }
  }
  .blogpost {
    grid-area: post;
  }
}
</style>

