<template>
  <section class="home" :style="`background: url('${page.background_pattern}')`">
    <blog-header />
    <section class="featured">
      <blog-card class="blog-entry" featured v-editable="featured.content" :post="featured" />
    </section>
    <section class="posts">
      <blog-card class="blog-entry" v-for="post in posts" :key="post.uuid" v-editable="post.content" :post="post" />
    </section>
  </section>
</template>

<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import BlogHeader from '@/components/BlogHeader';
import BlogCard from '@/components/BlogCard';

@Component({
  components: { BlogHeader, BlogCard }
})
export default class HomePage extends Vue {
  async asyncData({ app, isDev }) {
    // Draft mode for dev, published mode for production
    const version = isDev ? 'draft' : 'published';
    // Page data
    const page = await app.$storyapi.get('cdn/stories/home', { version });
    // Posts data
    const postsResponse = await app.$storyapi.get('cdn/stories', {
      starts_with: 'blog/',
      per_page: '6',
      page: '1',
      version,
    });

    const [featured, ...posts] = postsResponse.data.stories;

    return {
      page: page.data.story.content,
      featured,
      posts,
    };
  }
}
</script>

<style lang="scss" scoped>
.home {
  padding-bottom: 3rem;
  min-height: 100vh;
}

.posts {
  border-top: 1px solid #cccccc;
  padding-top: 2rem;
  margin-top: 1rem;
}

.blog-entry {
  margin-bottom: $default-grid-unit;
}

// Desktop
@media (min-width: $mobile-breakpoint) {
  .home {
    display: grid;
    min-height: 100vh;
    grid-template-columns: $default-layout-col-grid;
    grid-template-rows: auto;
    grid-template-areas:
      "freeleft header freeright"
      "freeleft featured freeright"
      "freeleft posts freeright";
  }

  .blog-header {
    grid-area: header / freeleft / header / freeright;
  }

  .featured {
    grid-area: featured;
  }

  .divider {
    grid-area: posts;
  }

  .posts {
    grid-area: posts;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
</style>

